<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ごみ収集日検索</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">ごみ収集日検索</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <% unless @collection_area.nil? %>
            <div class="navbar-nav">
              <a class="nav-link" href="<%= collection_area_collection_dates_path(@collection_area) %>">収集日検索</a>
              <a class="nav-link" href="<%= collection_area_gomi_types_path(@collection_area) %>">逆引き検索</a>
              <a class="nav-link" href="<%= calendar_collection_area_collection_dates_path(@collection_area) %>">カレンダー</a>
            </div>
          </div>
          <% else %>
            <span class="navbar-text">回収地域を選択してください</span>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
